/* Importa una fuente moderna desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Estilos globales */

body {
  margin: 0;
  padding: 0;
  font-family: Times black;
  line-height: 1.8;
  background-color: #f5faff56; /* Fondo muy claro, azul suave */
  
}

/* Contenedor principal */
.container {
  padding: 80px;
  background-color: #ffffff;
}

/* Cabecera: título y botón juntos */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #3b73f7, #004be1);
  padding: 20px 40px;
  border-radius: 8px;
  margin-bottom: 40px;
  
  
}

.header-logo {
  height: 150px;
  width: auto;
  margin-left: 20px;
}



.header h1 {
  margin: 0;
  font-size: 32px;
  color: white;
  font-family: Arial black;
}

.scan-button {
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.scan-button:hover {
  background-color: #013f5e;
  transform: scale(1.03);
}

/* Espaciado entre cabecera y búsqueda */


/* Separación entre componentes */
.component{
  margin-bottom: 50px;
 
}

/* Contenedor para el escáner */
.scanner-container {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #eee;
  margin-top: 20px;
  margin-bottom: 20px;
 
}

/* Contenedor para el resultado del escaneo */
.scanned-result {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 60px;
}

/* Estilos para la sección de búsqueda manual, UploadExcel, etc. */
.component{
  border:solid black;
  background-color: rgb(120, 208, 243);
  display: inline-block;
  width:450px;
  margin:0.5em;
  border-radius:8px;
}

.component h2{
  padding: 0.5em;
  background-color: #037ef9;
  margin:0.5em;
  border-radius: 8px;
  
}

.component input{
  margin: 0.5em;
  border-radius: 8px;
  
}

.component p{
  margin:0.5em;
  font-family: Arial;
  background-color: white;
  
}




/* Puedes ajustar estos valores según necesites */

/* Estilo para mensajes de error */
.error {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}